#------------------------------
#	Файл настройки сервера DeeX
#
#	07.02.2013
#	@version 4.2
#	@copyright BRANDER
#	@author  Deemon<a@dee13.ru>
#------------------------------

#Локальная кодировка
AddDefaultCharset utf-8


#AuthType Basic
#AuthName "Dee Private zone. Only for administrator!"
#AuthUserFile  /home/v3mode.store/www/.htpasswd
#require valid-user

php_flag register_globals off
php_flag safe_mode on
php_flag display_errors on
php_flag display_startup_errors on
php_value error_reporting 2047

php_flag allow_call_time_pass_reference 1
# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
php_value magic_quotes_gpc                0
#автоматическая регистрация переменных в глобальный массив
php_value register_globals                0
php_value session.auto_start              0
php_value mbstring.http_input             utf-8
php_value mbstring.http_output            utf-8
php_value mbstring.encoding_translation   0
php_value default_charset UTF-8
php_value mbstring.internal_encoding UTF-8
</IfModule>

#Главная страница каталога
DirectoryIndex index.php
#Разрешаю кросдоменный доступ
	<IfModule mod_headers.c>
		<FilesMatch "\.(js|css|woff|eot|ttf|svg)$">
		    Header always set Access-Control-Allow-Origin "*"
			Header always set Access-Control-Allow-Headers "*"
			Header always set Access-Control-Allow-Methods "GET"
		</FilesMatch>
	</IfModule>
#Включение функций перенаправления
RewriteEngine On
Options +FollowSymlinks


#Перенаправление на псевдоним с www
	#RewriteCond %{HTTP_HOST} !^www\.(.*)$ [NC]
	#RewriteCond %{HTTP_HOST} ^(.*)$
	#RewriteRule ^(.*)$ http://www.%1/$1 [R=301,L]


#Перенаправление на псевдоним без www
	RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]


#Реагирование на последний слэш
	#Убрать автоматически добавляемый слэш на существующие директории
	DirectorySlash off
	RewriteBase /
	#Не корень сайта и слэш на конце
	RewriteCond %{REQUEST_URI} ^.*/(\?.+|)$
	#Перенаправляю на ссылку без слэш на конце
	RewriteRule ^(.*)/+$ $1?%{QUERY_STRING} [L,R=301]

#Реализация ЧПУ
	#Есть только одна точка входа php - index.php
	RewriteCond %{REQUEST_URI} \.php$ [OR]
	RewriteCond %{REQUEST_URI} !^/(g/|)(images|css|js|fonts)/ [OR]
	#Не файл
	RewriteCond %{REQUEST_FILENAME} !-f
	#Не точка входа
	RewriteCond %{REQUEST_URI} !^/index\.php
	#Перенаправление на единственную точку входа
	RewriteRule ^(.*) index.php?%{QUERY_STRING}
